{% for outing in outings %}

	<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
		<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
			{{ outing.outingName }}

		</th>
		<td class="px-6 py-4">
			{{ outing.outingDate ? outing.outingDate|date('Y-m-d H:i:s') : '' }}

		</td>
		<td class="px-6 py-4">
			{{ outing.registrationDeadline ? outing.registrationDeadline|date('Y-m-d H:i:s') : '' }}

		</td>
		<td class="px-6 py-4">
			{{ outing.idMember|length }}/{{ outing.slots }}


		</td>

		<td class="px-6 py-4">
			{% if outing.state == 'EN COURS' %}
				<span class="text-green-600">En cours</span>
			{% elseif outing.state == 'PASSEE' %}
				<span class="text-red-600">Passée</span>
			{% elseif outing.state == 'CLOTUREE' %}
				<span class="text-yellow-600">Fermée</span>
			{% elseif outing.state == 'HISTORISEE' %}
				<span class="text-gray-600">Historisée</span>
			{% else %}
				<span class="text-gray-500">Inconnu</span>
			{% endif %}
		</td>
		<td class="px-6 py-4">
			{% if app.user in outing.idMember %}

				X
			{% endif %}

		</td>
		<td class="px-6 py-4">
			{% if outing.idOrganizer %}
				{{ outing.idOrganizer.email }}
			{% else %}
				N/A
			{% endif %}
		</td>

		<td class="px-6 py-4 text-right">
	{% if outing.state == 'HISTORISEE' %}

	{% else %}
		<a href="{{ path('app_outing_edit', {'id': outing.id}) }}" class="font-medium text-primary-600 dark:text-primary-500 hover:underline">Edit</a>
		<span>
				-
			</span>
		<a href="{{ path('app_outing_show', {'id': outing.id}) }}" class="font-medium text-primary-600 dark:text-primary-500 hover:underline">Afficher</a>
		<span>
				-
			</span>
		<button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="font-medium text-primary-600 dark:text-primary-500 hover:underline" type="button">
			Annuler
		</button>
	{% endif %}

		</td>
	</tr>
{% else %}
	<tr>
		<td colspan="7">no records found</td>
	</tr>
{% endfor %}
